.wraper {
  height: 100%;
}

.top-header {
  display: flex;
  align-items: center;
  width: 930px;
  height: 40px;
  margin-bottom: 14px;
  border-radius: 10px !important;
  box-shadow: 0 8px 12px rgb(0 33 79 / 11%) !important;
  background-color: white;
}

.quite-group-button {
  cursor: pointer;
  margin: 0 10px;
}

.dismiss-group{
  color: rgb(184, 23, 23);
}

.top-header-group-name {
  margin-left: 15px;
  font-weight: 560;
}

.canvas-wraper {
  display: flex;
  justify-content: space-between;
  width: 930px;
  margin-right: 20px;
}

.canvas-tool {
  width: 44px;
  padding: 10px 0;
  background-color: rgb(245, 245, 245);
  border-radius: 10px !important;
  box-shadow: 0 8px 12px rgb(0 33 79 / 11%) !important;
}

.tools-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  font-size: 22px;
}

.tools-item-tool {
  cursor: pointer;
  align-self: end;
}

.tools-item-name {
  margin-bottom: 5px;
  font-size: 12px;
  color: rgb(94, 94, 94);
}

.canvas {
  border-radius: 10px !important;
  background-color: white;
  border-radius: 10px !important;
  box-shadow: 0 8px 12px rgb(0 33 79 / 11%) !important;
}
